<%= render 'fullpage_script' %>
<div id="fullpage">
  <%= render 'home_page' %>
  <% @posts.each do |post| %>
    <div class="section" id="section<%= post.id %>">
      <h3 class="post_title"><%= link_to post.title, post_path(post), class: "white" %></h3>
      <p class="post_abstract"><%= post.abstract %></p>
      <p class="post_date"><%= post.created_at.strftime("%B %e, %Y") %></p>
    </div>
  <% end %>
</div>
