<div class="container margin-top-60">
  <% if admin? %>
    <%= link_to 'all posts', posts_path %> |
    <%= link_to 'edit post', edit_post_path(@post) %> |
    <%= link_to 'delete post', @post, method: :delete, data: { confirm: 'Do you really want to delete this post?' } %>
  <% end %>
  <br>
  <br>
  <br>
  <br>
  <div class="row">
    <div class="col-md-6">
      <h1 class= "text-center" id="post-title"><%= @post.title %></h1>
      <p class="text-center"><small>written by Anna Isabel Lamers on <%= @post.created_at.strftime("%B %e, %Y") %></small></p>
    </div>
    <div class="col-md-6" id="post-abstract">
      <p>"<%= @post.abstract %>"</p>
    </div>
  </div>
  <br>
  <br>
  <br>
  <br>
  <div class="row">
    <div class="col-md-12" id="post-content">
      <p><%= @post.content %></p>
      <hr>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <div id="owl-demo">
      <% @post.photos.each do |photo| %>
        <div class="item"><%= cl_image_tag photo.path, crop: :fit %></div>
        <div class="item"><%= cl_image_tag photo.path, crop: :fit %></div>
        <div class="item"><%= cl_image_tag photo.path, crop: :fit %></div>
        <div class="item"><%= cl_image_tag photo.path, crop: :fit %></div>
        <div class="item"><%= cl_image_tag photo.path, crop: :fit %></div>
      <% end %>
      </div>
      <hr>
    </div>
  </div>
  <div class="row">
    <div class="col-md-4 col-md-offset-2">
      <p>comments (<%= @post.comments.count %>)</p>
      <%= render @post.comments %>
      <hr>
    </div>
    <div class="col-md-4">
      <% if current_user %>
        <h4>Add a comment:</h4>
        <%= render 'comments/form', locals: { object: @post} %>
      <% else %>
        <p><%= link_to t(".sign_in", default: "Login to comment"), new_user_session_path, class: "navbar-wagon-item navbar-wagon-link" %></p>
      <% end %>
    </div>
  </div>
  <br>

  <% if admin? %>
    <%= link_to 'edit post', edit_post_path(@post) %> |
    <%= link_to 'delete post', @post, method: :delete, data: { confirm: 'Do you really want to delete this post?' } %>
  <% end %>
  <%= link_to :back, id: "home_arrow" do %>
    <i class="fa fa-arrow-left fa-3" aria-hidden="true"></i>
  <% end %>
</div>
