
<h1> <%= @post.title %> </h1>

<p> <%= @post.abstract %></p>

<p> <%= @post.content %></p>

<p> posted <%= time_ago_in_words(@post.created_at)%> ago</p>

<hr>

<h3> <%= @post.comments.count %> comments</h3>

<%= render @post.comments %>

  <br>
  <h4>Add a comment:</h4>
<% if current_user %>
  <%= render 'comments/form', locals: { object: @post} %>
<% else %>
  <%= link_to t(".sign_in", default: "Login"), new_user_session_path, class: "navbar-wagon-item navbar-wagon-link" %>
<% end %>

<hr>
<%= link_to 'all posts', posts_path %>
<% if admin? %>
  <%= link_to 'edit post', edit_post_path(@post) %> |
  <%= link_to 'delete post', @post, method: :delete, data: { confirm: 'Do you really want to delete this post?' } %> |
<% end %>
