<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" type="text/css" href="
https://cdnjs.cloudflare.com/ajax/libs/fullPage.js/2.8.6/jquery.fullPage.css" />
<link href="https://fonts.googleapis.com/css?family=Great+Vibes|Indie+Flower" rel="stylesheet">
  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
  <title><%= yield(:title) || "Latitudes" %></title>
  <meta name="description" content="<%= (yield(:description) || "").squish %>">
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <!-- Add these line for detecting device width -->
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <%= csrf_meta_tags %>
</head>
<body>

  <%= render 'shared/navbar' %>
  <%= render 'shared/notices' %>

  <%= yield %>

  <%= javascript_include_tag 'application' %>
  <%= yield(:after_js) %>

</body>
</html>
