<!DOCTYPE html>
<html>
<head>

  <%= render 'layouts/cdn_links' %>

  <title><%= yield(:title) || "Latitudes" %></title>
  <meta name="description" content="<%= (yield(:description) || "").squish %>">

  <%= render 'layouts/rails_default' %>

</head>
  <body>

    <%= render 'shared/navbar' %>
    <%= render 'shared/notices' %>
    <%= render 'shared/about_modal' %>

    <%= yield %>

    <%= javascript_include_tag 'application' %>
    <%= cloudinary_js_config %>
    <%= yield(:after_js) %>

</body>
</html>
